@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    
}

body{
    background: url("../assets/churras4.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}
      

.container{
    width: 500px;
    min-height: 300px;
    background-color: rgba(252, 249, 247, 0.596);
    text-align: center;
    margin:auto;
    position: relative;
    top: 150px; bottom: 0;
    left: 0; right: 0;
    border-radius: 40px;
}

input{
    display: block;
    text-align: center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 15px;
    border:none;
    border-radius: 10px;
    width: 300px;
}

button{
    border:none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding:10px;
    margin-top:10px;
    box-sizing: border-box;
    background-color:rgb(252, 181, 89);
    
}

button:hover{
    background-color:rgb(209, 144, 60)  
}

#result{

    margin-top: 15px;
    padding-bottom: 10px;
}